# WebScrapping of Olx

In [1]:
#Importing the libraries
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [8]:
#Opening the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
driver

In [9]:
#Maximize the Chrome window
driver.maximize_window()

In [10]:
#Opening the URL in Chrome
url="https://www.olx.in/for-rent-houses-apartments_c1723/q-room-for-rent"
driver.get(url)

In [49]:
#Scrapping the price of rental house
price=driver.find_elements_by_xpath('//span[@class="_89yzn"]')
prices=[]
for i in price:
    prices.append(i.text.replace('â‚¹',""))

In [32]:
#Scrapping the description of house
description=driver.find_elements_by_xpath('//span[@class="_2tW1I"]')
desc=[]
for i in description:
    desc.append(i.text)

In [34]:
#Scrapping the address of rental house
address=driver.find_elements_by_xpath('//span[@class="tjgMj"]')
add=[]
for i in address:
    add.append(i.text)

In [36]:
#Scrapping the room available
BHK=driver.find_elements_by_xpath('//span[@class="_2TVI3"]')
bhk=[]
for i in BHK:
    bhk.append(i.text)

In [61]:
#Scrapping the date when it is posted on the website
posted=driver.find_elements_by_xpath('//span[@class="zLvFQ"]')
pos=[]
for i in posted:
    pos.append(i.text)

In [71]:
#Scrapping the Image URL
link=driver.find_elements_by_tag_name('a')
url=[]
for i in link:
    urls=i.get_attribute('href')
    url.append(urls)

In [74]:
#Storing the entire data in data frame
df=pd.DataFrame()
df['Description']=desc
df['BHK']=bhk
df['Address']=add
df['Posted']=pos
df['Image URL']=url[:40]
df['Price']=prices
df

,Description,BHK,Address,Posted,Image URL,Price
0,"Firdaus, Furnished Rooms starting rs 8500 in K...",1 Bds - 1 Ba - 300 ft2,"KPHB, HYDERABAD",AUG 17,https://www.olx.in/,"16,000"
1,SPACIOUS 2 BEDROOM HALL KITCHEN DRAWING ROOM A...,2 Bds - 2 Ba - 1999 ft2,"AYODHYA NAGAR, BERHMAPUR",JUL 31,https://www.olx.in/post,"10,000"
2,"Turangi, Behind Nexa show room, 2BHK with 2 at...",2 Bds - 2 Ba - 1400 ft2,"TURANGI, KAKINADA",JUL 22,https://www.olx.in/cars_c84,"9,500"
3,2 Room Set Semi Furnished in Dugri phase 1,2 Bds - 1 Ba - 856 ft2,"DUGRI URBAN ESTATE, LUDHIANA",TODAY,https://www.olx.in/motorcycles_c81,"8,000"
4,Wanted a single room,1 Bds - 1 Ba - 100 ft2,"DEV COLONY, ROHTAK",TODAY,https://www.olx.in/mobile-phones_c1453,"2,000"
5,1bhk luxury room with food,1 Bds - 1 Ba - 1000 ft2,"INDUSTRIAL COLONY, ALIGARH",TODAY,https://www.olx.in/for-sale-houses-apartments_...,"4,500"
6,Ground floor 1 room set furnished working girl...,1 Bds - 1 Ba - 800 ft2,"SECTOR 43, CHANDIGARH",TODAY,https://www.olx.in/scooters_c1413,"10,000"
7,Need Room Partners,2 Bds - 2 Ba - 2500 ft2,"HINGNA T POINT, NAGPUR",TODAY,https://www.olx.in/commercial-other-vehicles_c85,"2,250"
8,"Independent House, 2 Rooms with Kitchen for Rent",2 Bds - 1 Ba - 2 ft2,"HABOWAL KALAN, LUDHIANA",TODAY,https://www.olx.in/for-rent-houses-apartments_...,"8,500"
9,I am looking for girl room mate its a 2bhk roo...,1 Bds - 1 Ba - 2500 ft2,"KELO VIHAR, RAIGARH",TODAY,https://www.olx.in/cars_c84,"3,250"
10,Room sharing,1 Bds - 1 Ba - 987 ft2,"VANDALUR, TAMBARAM",TODAY,https://www.olx.in/properties_c3,"8,000"
11,Need an room partner only girls,1 Bds - 1 Ba - 220 ft2,"LADO SARAI, DELHI",TODAY,https://www.olx.in/for-sale-houses-apartments_...,"2,500"
12,Room for Rent at 3000 in West Saidapet.,1 Bds - 1 Ba - 110 ft2,"WEST SAIDAPET, CHENNAI",TODAY,https://www.olx.in/for-rent-houses-apartments_...,"3,000"
13,1rk singles Room set furnished with doubles Be...,1 Bds - 1 Ba - 477 ft2,"RAMESH NAGAR, DELHI",TODAY,https://www.olx.in/lands-plots_c1729,"8,000"
14,Chawl room for rent semifurnish,1 Bds - 1 Ba - 400 ft2,"KALYAN, THANE",TODAY,https://www.olx.in/for-rent-shops-offices_c1731,"6,000"
15,Near victoroa college 3 bed room house for rent,3 Bds - 3 Ba - 2800 ft2,"TAREKADU, PALAKKAD",TODAY,https://www.olx.in/for-sale-shops-offices_c1733,"32,000"
16,Three room set available for rent in Rohini se...,2 Bds - 2 Ba - 56 ft2,"ROHINI, DELHI",TODAY,https://www.olx.in/pg-guest-houses_c1449,"15,000"
17,Room for rent in Chawl near Lokgram,1 Bds - 1 Ba - 225 ft2,"KALYAN EAST, THANE",TODAY,https://www.olx.in/mobiles_c1411,"6,000"
18,"Fully furnished Rooms , Starting price is 6500",1 Bds - 1 Ba - 350 ft2,"HINJEWADI, PUNE",AUG 18,https://www.olx.in/mobile-phones_c1453,"14,000"
19,"Bath Attached single room for Rent, Bachelors",1 Bds - 1 Ba - 200 ft2,"MG ROAD, KOCHI",AUG 12,https://www.olx.in/accessories_c1457,"6,000"
20,Indipendent furnished Rooms with attached Wash...,1 Bds - 1 Ba - 200 ft2,"LANKA, VARANASI",AUG 26,https://www.olx.in/tablets_c1455,"6,000"
21,1 room 1 kitchan,1 Bds - 1 Ba - 000 ft2,"DEV NAGAR, JODHPUR",TODAY,https://www.olx.in/jobs_c4,"5,200"
22,One Room set available for Rent attached kitch...,1 Bds - 1 Ba - 200 ft2,"SHANTIKUNJ, HARIDWAR",TODAY,https://www.olx.in/data-entry-back-office_c1737,"3,000"
23,2bhk room for rent at jobra,2 Bds - 1 Ba - 2600 ft2,"LIC COLONY, CUTTACK",TODAY,https://www.olx.in/sales-marketing_c62,"10,000"
24,One room wd atach wash room,1 Bds - 1 Ba - 400 ft2,"VIP ROAD, ZIRAKPUR",TODAY,https://www.olx.in/bpo-telecaller_c164,"7,000"
25,bachelor room for rent 2bh Pallikaranai VGP sh...,2 Bds - 2 Ba - 705 ft2,"PALLIKARANAI MA PO SI NAGAR, CHENNAI",TODAY,https://www.olx.in/driver_c2206,"6,000"
26,Special Living & Couple Room 1/2 BHK. Bachelor...,1 Bds - 1 Ba - 488 ft2,"DUM DUM METRO, KOLKATA",TODAY,https://www.olx.in/office-assistant_c2201,"5,000"
27,"Two room set for rent,",2 Bds - 1 Ba - 1250 ft2,"MUKHANI, HALDWANI",TODAY,https://www.olx.in/delivery-collection_c2205,"7,500"
28,Independent Two rooms available for rent at Di...,1 Bds - 1 Ba - 600 ft2,"DISPUR, GUWAHATI",TODAY,https://www.olx.in/teacher_c53,"7,000"
29,TO LET 1 room with kitchen available,1 Bds - 1 Ba - 250 ft2,"ADHINATH NAGAR, UDAIPUR",TODAY,https://www.olx.in/cook_c2202,"6,000"
30,Room for rent.,2 Bds - 1 Ba - 750 ft2,"DAULATPUR, VARANASI",TODAY,https://www.olx.in/receptionist-front-office_c...,"7,000"
31,Single Room bath attahed for rent,1 Bds - 1 Ba - 200 ft2,"OLARI, THRISSUR",TODAY,https://www.olx.in/operator-technician_c731,"5,500"
32,1 room fully furnished in trilanga Colony,1 Bds - 1 Ba - 160 ft2,"ARERA COLONY, BHOPAL",TODAY,https://www.olx.in/it-engineer-developer_c56,"6,800"
33,Indipendent single room near aradi Chowk to ca...,1 Bds - 1 Ba - 0 ft2,"SAMARAIPUR, BHADRAK",TODAY,https://www.olx.in/hotel-travel-executive_c1439,"2,800"
34,Need a room partner,1 Bds - 1 Ba - 150 ft2,"INDUSTRIAL AREA PHASE 2, NOIDA",TODAY,https://www.olx.in/accountant_c1441,"2,500"
35,"2 bed room,1bathroom,open kitchen",2 Bds - 1 Ba - 1500 ft2,"NANGAL SHAMA, JALANDHAR",TODAY,https://www.olx.in/designer_c2203,"5,000"
36,"Dwarka, nearby IGIA, Room starting at Rs. 1600...",1 Bds - 1 Ba - 350 ft2,"DWARKA SECTOR 7, DELHI",AUG 17,https://www.olx.in/other-jobs_c65,"16,000"
37,Double bed room for rent,2 Bds - 2 Ba - 1400 ft2,"KOWKUR, HYDERABAD",JUL 23,https://www.olx.in/bikes_c2198,"8,000"
38,"Rent For ROOM,FLAT OR OFFICE inSixmile, Bhanga...",3 Bds - 2 Ba - 1200 ft2,"KAMRUP, GUWAHATI",AUG 17,https://www.olx.in/motorcycles_c81,"10,000"
39,Fully furnished one room set with modern toile...,1 Bds - 1 Ba - 175 ft2,"IIT CAMPUS, ROORKEE",TODAY,https://www.olx.in/scooters_c1413,"5,000"

In [76]:
df.to_csv('Olx_rental_house.csv')